.Title {
    text-align: center;
}

.body {
    height: 500px;
}

.box {
    height: 250px;
    width: 250px;
    background-color: white;
    display: inline-block;
    margin: 100px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px #666666;
    box-shadow: 0px 0px 5px 0px #666666;
    text-decoration: none;
}

.box:hover {
    transition: ease-in-out 0.3s;
    -webkit-box-shadow: 0px 0px 16px 0px #666666;
    box-shadow: 0px 0px 16px 0px #666666;
}

.link {
    color: black;
}

.imgList {
    height: 170px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
}