.Titre {
    width: fit-content;
    margin-right: 50%;
    display: inline-block;
    font-variant: small-caps;
    color: black;
}

.lien {
    margin-left: 2%;
    margin-right: 2%;
    width: fit-content;
    display: inline-block;
    color: black;
}

.lien:hover {
    color: white;
}

.nav {
    background-color: pink;
    padding-bottom: 1%;
    color: black;
}

.imgNav {
    width: 75px;
    height: 75px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    margin-left: 20px;
}